
{% extends 'base.html.twig' %}
{% block body %}
<div class="container w-50">
    <div class="row">
<img src="./images/GSB2@2x.png" class="w-100 mx-auto rotate-diagonal-1" alt="logo-rotation">

    </div>
    <div class="row">
<h2 class=" text-white mx-auto rotate-diagonal-1">Bienvenue {{ app.user.login}} !<span style='font-size:85px;'>&#128512;</span></h2>

    </div>
</div>
{% endblock %}