        
<nav id="menu" class="navbar navbar-expand-sm navbar-light bg-light ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-lg-none " type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item active mr-3">
              <a class="nav-link" href="{{ path('validateFrais') }}" title="Valider fiche de frais"> Traitement des mises en paiement <i class="fas fa-money-check-alt"></i></a>
          </li>
            <li class="nav-item active mr-3 ">
              <a class="nav-link" href="#" title="Valider fiche de frais">Valider fiche de frais <i class="fas fa-check-circle"></i></a>
          </li>
          <li class="nav-item active mr-3 ">
              <a class="nav-link" href="{{ path('app_logout')}}" title="Se déconnecter">Se déconnecter <i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>     
    </div>
</nav>

