{% extends 'base.html.twig' %}

{% block title %}New Lignefraishorsforfait{% endblock %}

{% block body %}
    <h1>Create new Lignefraishorsforfait</h1>

    {{ include('Lignefraishorsforfait/_form.html.twig') }}

    <a href="{{ path('Lignefraishorsforfait_index') }}">back to list</a>
{% endblock %}
